@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    1%{
        background-position: 0% 50%;
    }
    9% {
        background-position: 20% 50%;
    }
    11% {
        background-position: 20% 50%;
    }
    19% {
        background-position: 40% 50%;
    }
    21% {
        background-position: 40% 50%;
    }
    29% {
        background-position: 60% 50%;
    }
    31% {
        background-position: 60% 50%;
    }

    39% {
        background-position: 80% 50%;
    }

    41% {
        background-position: 80% 50%;
    }
    49% {
        background-position: 100% 50%;
    }
    59% {
        background-position: 80% 50%;
    }

    61% {
        background-position: 80% 50%;
    }
    69% {
        background-position: 60% 50%;
    }
    71% {
        background-position: 60% 50%;
    }
    79% {
        background-position: 40% 50%;
    }
    81% {
        background-position: 40% 50%;
    }
    89% {
        background-position: 20% 50%;
    }
    91% {
        background-position: 20% 50%;
    }
    99% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.animated-gradient {
    background: 
        linear-gradient(90deg,  #b71b1b, #ff0000, #ff8446, #ff1744 ,#ff5252,#ff8a65,#ffb300,#ff6f00, #b71b1b,#ff7043, #ff0000, #ff8446, #ff1744 ,#ff5252,#ff8a65,#ffb300,#ff6f00,#ff7043 );
        background-size: 600% 600%;
    animation: gradient-move 35s ease infinite;
}
